
.Lazyloading {
    display: flex;
    justify-content: center;
    /* Căn chỉnh ngang */
    align-items: center;
    /* Căn chỉnh dọc */
    position: fixed;
    /* Hoặc absolute tùy thuộc vào bố cục */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền mờ nếu muốn */
    z-index: 9999;
    /* Đảm bảo hình ảnh loading nằm trên cùng */
}

.imggg {
    width: 100px;
    height: 100px;
    margin-top: 200px;
    animation: spiner 0.6s;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    color: aqua;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(22.5deg)
    }

    100% {
        transform: rotate(45deg)
    }
}